#lead {
  color: white;
}

.jumbotron-optimized {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url(
      https://res.cloudinary.com/tharmaman/image/upload/c_scale,h_1060,w_1772/v1539589118/header-background3-supermin.jpg
    );
  background-size: cover;
  color: white;
}

.book-border {
  justify-content: center;
  margin-top: 10%;
  border: 4px solid #fff;
}

button {
  color: #ffffff !important;
  background-color: #ff5700 !important;
  border-color: #ff5700 !important;
}

button:hover,
button:focus,
button:active,
button.active,
.open .dropdown-togglebutton {
  color: #ffffff !important;
  background-color: #ff9100 !important;
  border-color: #ff5700 !important;
}

button .badge {
  color: #ff5700 !important;
  background-color: #ffffff !important;
}

@media screen and (max-width: 537px) {
  div {
    text-align: center;
    justify-content: center;
    align-content: center;
  }
  /* start of phone styles */
  #lead {
    font-size: 3.1em;
  }
  .jumbotron-optimized {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
      url(https://res.cloudinary.com/tharmaman/image/upload/v1544392756/header-background-supermin-mobile__deploy.jpg);
  }
}

@media screen and (max-width: 767px) {
  #jumboContainer {
    align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
  #book-responsive {
    padding-left: 10%;
  }
}

a {
  text-shadow: none !important;
}

.react-countdown-container {
  text-align: center;
  font-weight: 100;
  font-family: sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

.react-countdown-box {
  padding: 0.25rem;
  background: #ff5700;
  display: flex;
}

.react-countdown-time {
  padding: 1rem;
  border-radius: 3px;
  background: #ff9100;
}

.react-countdown-time-text {
  font-size: 1rem;
}
