#lead {
  color: white;
}


button { 
  color: #FFFFFF !important; 
  background-color: #FF5700 !important; 
  border-color: #FF5700 !important; 
} 
 
button:hover, 
button:focus, 
button:active, 
button.active, 
.open .dropdown-togglebutton { 
  color: #FFFFFF !important; 
  background-color: #ff9100 !important; 
  border-color: #FF5700 !important; 
} 
 
button .badge { 
  color: #FF5700 !important; 
  background-color: #FFFFFF !important; 
}

@media screen and (max-width: 537px) {
  /* start of phone styles */
  #lead {
    font-size: 3.1em;
  }


}

a {
  text-shadow: none !important;
}

.react-countdown-container {
  text-align: center;
  font-weight: 100;
  font-family: sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

.react-countdown-box {
  padding: 0.25rem;
  background: #ff5700;
  display: flex;
}

.react-countdown-time {
  padding: 1rem;
  border-radius: 3px;
  background: #ff9100;
}

.react-countdown-time-text {
  font-size: 1rem;
}
